.banner {
    width: 100%;
    height: 30vh;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(5, 2, 5, 0.5);

    @media (max-width: 768px) {
        height: 15vh;
        object-fit:fill;
    }
}

.banner-title {
    color: white;
    text-align: center;
    position: relative;
    top: -70%;

    @media (max-width: 768px) {   
        margin-left: 10px;
        padding-left: 2px;
        font-size: 25px;
        color: rgb(231, 220, 220);
        margin-top: 150px;
        left: 0px;
        text-align: left;
        position: absolute;
        padding-bottom: 0px;
       
    }
    
}

.bg-img {
    width: 110%;
    height:150%;
    object-fit: cover;
    z-index: -1;
    border-radius: inherit;
}