 .Info { 
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     gap: 20px;
     margin-top: 20px;
     padding: 10px 80px;
     background-color: rgb(240, 240, 241);
     border-radius: 10px;
     margin-bottom: 20px;   

      @media (max-width: 900px) {
          justify-content: center;
          flex-direction: column;
      }
  }

    .box {
      display: flex;
      flex-wrap: wrap;
      margin: 10px 2px;
      border-radius: 10px;
      width: 31%;
      position: relative;
      overflow: hidden;
      
  h3 {
    font-weight:bold;
    margin-left: 10px;
    text-align: start;
    bottom: 10px;
    margin: 0;
    position: absolute;
  }
  .box-inner {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px; 
    width: 100%;
    height:40vh;
    padding: 10px ;
    box-shadow: inset 0 0 100px  rgb(110, 106, 108); 
    color:rgb(247, 247, 247);
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    position: relative;
  }
}