footer {
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 30px 30px;
    margin: 0px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        text-align: center; 
       margin-top: 150px;
    }

    p {
        color: white;
        font-size: larger;

        @media (max-width: 768px) {
            width: 50%;
        }
    }

    img {
        width: 10%;

        @media (max-width: 768px) {
            width: 45%;
           
        }
    }
}
