footer {
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 30px 30px;
    
}
p {
    color:white;
    font-size: larger;

}
img {
    width: 10%;
}