.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    
}

.navbar__logo{
    width: 17%;
    padding: 10px;
}

.navbar__links {
   display: flex;
   justify-content: end;
   gap: 30px
}

.navbar__link {
    color: black;
    text-decoration: none;
}

// applied if selected and active
.navbar__link--active {
    text-decoration: underline;
    font-weight: 600;
}