.slide-container {
    height: 380px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .slide-nav i {
    color: white;
    font-size: 55px;
    font-weight: 900;
    cursor: pointer;
  }
  .slide-nav .left {
    right: 10px; 
  }
  .slide-nav .right {
    right: 10px; 
  }
  h1{
    color:rgb(255, 96, 96);
  }