.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.tag {
    background-color: rgb(255, 96, 96);
    border-radius: 30px;
    padding: 5px 30px;
    color: white;
    font-weight: 600;
}