.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;

    @media (max-width: 768px) {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 8px;
      }
}
.tag {
    background-color: rgb(255, 96, 96);
    border-radius: 30px;
    padding: 5px 30px;
    margin: 10px 0px;
    color: white;
    font-weight: 600;

    @media (max-width: 768px) {
        border-radius: 10px;
      }
}
