.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .accordion {
    width: 80%;
  }
  
  .item {
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  .title-section {
    display: flex;
    width: 100%;
  }
  .title {
    background-color: rgb(255, 96, 96);
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;
    position: relative;
  }
  
  .title i {
    color: white;
    justify-content: end;
    margin-left: 10px;
    transition: transform 0.99s;
  }
  
  
  .title i.fa-chevron-up {
    transform: rotate(0deg);
  }
  
  .title i.fa-chevron-down {
    transform: rotate(-10deg);
  }
  
  .title i.fa-chevron-right {
    transform: rotate(-90deg);
  }
  
  
  // .title i.fa-chevron-down {
  //   transform: rotate(180deg);
  // }
  
  .content {
    color: black;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
  }
  
  .content.show {
    max-height: 1000px;
    transition: max-height 1s ease-in;
  }
  
  .owner {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
  }
  
  .host-picture img {
    width: 80%;
    text-decoration: none;
    border-radius: 60px;
    position: relative;
    right: 0;
    top: 0;
  }
  