.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.accordion {
  width: 80%;

  @media (max-width: 768px) {
    width:100%;
  }
}

.item {
  margin-top: 20px;
  margin-bottom: 20px;

@media (max-width: 768px) {
    width:100%;
    margin: 5px 0;
    padding: 0px;  
  }
}

.title-section {
  display: flex;
  width: 100%;
}

.title {
  background-color: rgb(255, 96, 96);
  color: white;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

 
}

.title h2 {
  flex-grow: 1;
  font-size: 20px;
  
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.title i {
  color: white;
  transition: transform .5s ease-in-out;
  font-size: 2em;
}

.title i.fa-chevron-up {
  transform: rotate(0deg);
}

.title i.fa-chevron-down {
  transform: rotate(180);
  font-size: 2em;
}

.content {
  color: black;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
  margin: 10px 0;
  padding: 0px 30px;
  font-size: 15px;
}
.content.show {
  max-height: 1000px;
  padding-bottom: 20px ;
  transition: max-height 1s ease-in;
}